- Output can be in English or Vietnamese.
- Don't generate comments in source code by default.
- Keep the project code clean, eliminate all redundant code.
- Use best solutions and best practices to do the task.
- Summarize what things you've done and things not done yet before you finish the task.

## Wordpress
- Use Elementor to build the theme.
- elements\widgets is the folder that contains Elementor widgets.
- elements\templates is the folder that contains Elementor templates.
