/*--------------------------------------------------------------
Grid Reset
----------------------------------------------------------------*/
.pxl-grid {
    .pxl-grid-masonry {
        position: relative;
    }
    .grid-sizer {
        z-index: -1;
    }
    .pxl-load-more {
        text-align: center;
        padding: 0 15px;
    }
    @media #{$min-xl} {
        .col-xl-pxl5 {
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
        .col-lg-66-pxl {
            -ms-flex: 0 0 66.6666666%;
            flex: 0 0 66.6666666%;
            max-width: 66.6666666%;
        }
    }
    @media #{$min-xl} {
        .col-xl-66-pxl {
            -ms-flex: 0 0 66.6666666%;
            flex: 0 0 66.6666666%;
            max-width: 66.6666666%;
        }
    }
}

.pxl-grid,
.pxl-post-carousel,
.pxl-post-modern,
.pxl-swiper-slider {
    .pxl-post--featured {
        position: relative;
    }
    .pxl-post--link {
        @extend .pxl-spill;
        z-index: 99;
    }
    .pxl-post--image img,
    .pxl-post--featured img {
        width: 100%;
    }
    .pxl-post--title a {
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
    .pxl-post--category {
        position: relative;
        &.link-none:before,
        &.deactive-click:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
        }
        a {
            color: inherit;
        }
    }
    &.pxl-grid-nogap {
        .pxl-grid-masonry {
            margin: 0 !important;
            .pxl-grid-item {
                padding: 0 !important;
            }
            .pxl-post--inner {
                margin-bottom: 0;
            }
        }
    }
}

.elementor-editor-active .grid-sizer {
    display: none;
}

.pxl-load-more {
    .pxl-load-icon {
        width: 20px;
        height: 20px;
        @include border-radius(100%);
        border-color: transparent #fff transparent #fff;
        border-width: 1px;
        border-style: solid;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -10px;
        animation: pxl_spin 0.6s infinite linear;
        -webkit-animation: pxl_spin 0.6s infinite linear;
        box-sizing: border-box;
        z-index: 2;
        margin-top: -10px;
        opacity: 0;
    }
    .pxl-loadmore-text {
        @include transition(all 300ms linear 0ms);
    }
    &.loading {
        .pxl-load-icon {
            opacity: 1;
        }
        .pxl-loadmore-text {
            opacity: 0;
        }
    }
}

// Grid Filter Style
.pxl-grid-filter {
    .filter-item {
        cursor: pointer;
        @include transition(all 300ms linear 0ms);
        position: relative;
    }
    .pxl--filter-inner {
        display: inline-flex;
        flex-wrap: wrap;
    }
    &.style-1 {
        .pxl--filter-inner {
            column-gap: 80px;
        }
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;
        .filter-label {
            font-size: 16px;
            color: #969696;
            font-weight: 700;
            margin: 10px 17px 10px 17px;
        }
        .filter-item {
            padding-bottom: 7px;
            padding-top: 15px;
            z-index: 2;
            justify-content: center;
            position: relative;
            font-family: "GTWalsheimPro";
            font-weight: 500;
            @include transition(all 300ms linear 0ms);
            &:before {
                content: "";
                width: 0;
                left: 0;
                right: 0;
                margin: auto;
                bottom: 1px;
                background-color: #111;
                height: 1px;
                @include transition(all 300ms linear 0ms);
                position: absolute;
            }
            &.active,
            &:hover {
                color: #111;
                &:before {
                    width: 100%;
                }
            }
            .filter-item--count {
                font-size: 15px;
                position: absolute;
                top: 10px;
                right: -13px;
            }
        }
        .pxl--filter-inner {
            justify-content: center;
        }
    }
}
