button:not(.btn),
.button:not(.btn),
input[type="submit"]:not(.btn) {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: "GTWalsheimPro";
    letter-spacing: 0.6px;
    padding: 0 28px;
    line-height: 55px;
    @include transition(all 200ms linear 0ms);
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 56px;
    color: #fff;
    border: none;
    height: auto;
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: $primary_color;
    &:hover,
    &:focus {
        background-color: $secondary_color;
        color: #fff;
    }
}

.btn {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #111111;
    padding: 0 32px;
    line-height: 55px;
    border-radius: 8px;
    @include transition(all 300ms linear 0ms);
    position: relative;
    cursor: pointer;
    border: none;
    height: auto;
    display: inline-flex;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    justify-content: center;
    overflow: hidden;
    font-family: "GTWalsheimPro";
    z-index: 1;
    @extend .ft-secondary;
    &:hover,
    &:focus {
        outline: medium none;
        text-decoration: none;
        color: #fff;
        background-color: $secondary_color;
        .pxl--btn-icon {
            i {
                animation: toRightFromLeft 0.3s forwards;
            }
        }
    }
    &.btn-block {
        width: 100%;
    }
    &.pxl-icon--right {
        flex-direction: row-reverse;
    }
    &.pxl-icon-active i {
        justify-content: center;
        align-items: center;
    }
    &.btn-w-full {
        width: 100%;
    }
    .pxl--btn-icon {
        display: inline-flex;
        @include transition(all 300ms linear 0ms);
        i,
        svg {
            @include transition(all 300ms linear 0ms);
        }
    }
    // Button Style
    &.btn-cycle {
        width: 219px;
        height: 219px;
        border-radius: 109px;
        border: 1px solid #d9d9d9;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        &:hover {
            background: transparent;
        }
        span {
            width: 172px;
            height: 172px;
            border-radius: 86px;
            background-color: $primary_color;
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 26px;
            color: #ffffff;
            font-family: "GTWalsheimPro";
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            word-wrap: break-word;
            overflow-wrap: break-word;
            white-space: normal;
        }
    }
    &.btn-icon-box {
        background-color: $primary_color;
        color: #fff;
        font-size: 15px;
        padding-left: 35px;
        padding-right: 5px;
        line-height: 50px;
        @include border-radius(50px);
        justify-content: space-between;
        .pxl--btn-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            @include border-radius(50%);
            background-color: rgba($color: #fff, $alpha: 0.149);
            color: #fff;
        }
        &:hover {
            background-color: $secondary_color;
            .pxl--btn-icon {
                i {
                    animation-name: pxl_wobble_vertical;
                    animation-duration: 1s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: 1;
                }
            }
        }
    }
    // Text Hover
    &.btn-text-nina {
        &.btn-default {
            &:hover,
            &:focus {
                background-color: $primary_color;
            }
        }
        .pxl--btn-text {
            position: relative;
            &:before {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 0;
                -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
                transition: transform 0.2s, opacity 0.2s;
                transition-timing-function: ease, ease;
                -webkit-transition-timing-function: cubic-bezier(
                    0.75,
                    0,
                    0.125,
                    1
                );
                transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
                white-space: nowrap;
            }
            > span {
                white-space: nowrap;
                display: inline-block;
                padding: 0;
                opacity: 0;
                -webkit-transform: translate3d(0, -14px, 0);
                transform: translate3d(0, -14px, 0);
                -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
                transition: transform 0.2s, opacity 0.2s;
                transition-timing-function: ease, ease;
                -webkit-transition-timing-function: cubic-bezier(
                    0.75,
                    0,
                    0.125,
                    1
                );
                transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
                line-height: normal;
            }
        }
        &:hover {
            @include transform(translateY(0px));
            .pxl--btn-text {
                &:before {
                    opacity: 0;
                    -webkit-transform: translate3d(0, 100%, 0);
                    transform: translate3d(0, 100%, 0);
                }
                span {
                    opacity: 1;
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                }
            }
        }
        &:not(:hover) .pxl--btn-text > span {
            transition-delay: 0s !important;
        }
        &.btn-outline-gradient {
            &:hover {
                .pxl--btn-text {
                    &:before {
                        -webkit-transform: translate3d(0, 30px, 0);
                        transform: translate3d(0, 30px, 0);
                    }
                }
            }
        }
    }
    &.btn-text-nanuk {
        .pxl--btn-text {
            span {
                display: inline-block;
            }
        }
        &:hover,
        &:active,
        &:not([disabled]):not(.disabled).active,
        &:not([disabled]):not(.disabled):active {
            background-color: $primary_color;
        }
        &:hover .pxl--btn-text {
            span:nth-child(2n + 1),
            span:nth-child(2n) {
                -webkit-animation-timing-function: cubic-bezier(
                    0.75,
                    0,
                    0.125,
                    1
                );
                transition-animation-function: cubic-bezier(0.75, 0, 0.125, 1);
            }

            span:nth-child(2n + 1) {
                -webkit-animation: pxl_nanuk_1 0.5s forwards;
                animation: pxl_nanuk_1 0.5s forwards;
            }

            span:nth-child(2n) {
                -webkit-animation: pxl_nanuk_2 0.5s forwards;
                animation: pxl_nanuk_2 0.5s forwards;
            }
        }
    }
    &.btn-text-parallax {
        overflow: visible;
        &.btn-default {
            &:hover,
            &:focus {
                background-color: $primary_color;
            }
        }
        .pxl--btn-text {
            @include transition(all 120ms linear 0ms);
        }
        &:not(.hovered),
        &:not(.hovered) .pxl--btn-text {
            transform: translate3d(0px, 0px, 0px) !important;
        }
        .flaticon-up-right-arrow:before {
            @include transition(all 300ms linear 0ms);
        }
        &:hover {
            .flaticon-up-right-arrow:before {
                transform: rotate(45deg);
            }
        }
    }

    /* Button Style */
    &.btn-text-underline {
        font-size: 17px;
        line-height: 26px;
        padding: 0;
        background: none;
        @include border-radius(0);
        &:hover {
            .pxl--btn-text {
                &:before {
                    right: auto;
                    left: 0;
                }
            }
            .pxl--btn-icon {
                animation: toRightFromLeft 0.3s forwards;
            }
        }
        .pxl--btn-text {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: auto;
                right: 0;
                width: 100%;
                height: 1px;
                background-color: #000;
                @include transition(all 300ms linear 0ms);
            }
        }
    }

    &.btn-gradient-rotate {
        @include background-gradient-rotate(
            135deg,
            $gradient_color_from,
            $gradient_color_to
        );
        background-color: transparent;
        &:hover {
            background-color: transparent;
        }
    }

    &.btn-gradient-horizontal {
        @include background-horizontal(
            $gradient_color_from,
            $gradient_color_to
        );
        background-color: transparent;
        &:hover {
            background-color: transparent;
        }
    }

    &.btn-gradient-horizontal2 {
        @include background-gradient-3colors(
            45deg,
            $gradient_first_color,
            $gradient_color_to 45%,
            $gradient_color_from 100%
        );
        background-color: transparent;
        &:hover {
            background-color: transparent;
        }
    }
}
.pxl-contact-form1 .btn.btn-gradient-horizontal {
    @include background-gradient-button(
        to right,
        $gradient_color_from 0%,
        $gradient_color_to 51%,
        $gradient_color_from 100%
    );
    @include transition(all 300ms linear 0ms);
    background-size: 200%, auto;
    i {
        font-size: 10px;
        @include transition(all 300ms linear 0ms);
    }
    &:hover {
        background-position: right center;
        i.flaticon-up-right-arrow {
            transform: rotate(45deg);
        }
    }
}
@keyframes pxl_nanuk_1 {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    49% {
        opacity: 1;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        color: inherit;
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        color: inherit;
    }
    100% {
        color: inherit;
    }
}

@keyframes pxl_nanuk_2 {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    49% {
        opacity: 1;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        color: inherit;
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        color: inherit;
    }
    100% {
        color: inherit;
    }
}

@media #{$min-sm} {
    .revslider-initialised {
        .btn.btn-icon-box {
            padding-left: 44px;
            padding-right: 90px;
            line-height: 67px;
            font-size: 18px;
            background-color: $gradient_color_to;
            .pxl--btn-icon {
                width: 65px;
                height: 67px;
                position: absolute;
                top: 0;
                right: 0;
                background-color: $gradient_color_from;
                border-radius: 67px;
                align-items: center;
                justify-content: center;
                font-size: 13px;
            }
            &:hover,
            &:focus {
                background-color: $gradient_color_to;
            }
        }
    }
}

body.rtl {
}
