/*--------------------------------------------------------------
Portfolio Style
----------------------------------------------------------------
# Portfolio Grid
# Portfolio Carousel
# Portfolio Details
--------------------------------------------------------------*/

.pxl-portfolio-style-1 {
    .pxl-grid-item {
        margin-bottom: 30px;
    }
    .pxl-post--featured {
        position: relative;
        overflow: hidden;
        @include border-radius(8px);

        &:hover {
            &:before {
                opacity: 0.7;
                transform: scale(1.02);
                background: rgba(255, 255, 255, 0.15);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
            }

            .pxl-post--holder {
                transform: rotateY(0deg) scale(1);
                opacity: 1;
                box-shadow: 0 15px 45px rgba(0, 0, 0, 0.25);
            }
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            @include border-radius(8px);
            background: rgba(255, 255, 255, 0.15);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            @include transition(all 400ms ease-in-out);
            opacity: 0;
            transform: scale(1);
            z-index: 1;
        }

        .pxl-post--holder {
            position: absolute;
            z-index: 2;
            top: 30px;
            left: 30px;
            right: 30px;
            bottom: 30px;
            background-color: #fff;
            @include border-radius(8px);
            width: calc(100% - 60px);
            height: calc(100% - 60px);
            text-align: center;
            padding: 50px 25px 25px 25px;
            opacity: 0;
            transform: rotateY(90deg) scale(0.8);
            @include transition(all 600ms ease-in-out);
            @media #{$max-md2} {
                top: 15px;
                left: 15px;
                right: 15px;
                bottom: 15px;
                width: calc(100% - 30px);
                height: calc(100% - 30px);
                padding: 25px 15px 15px 15px;
            }
        }

        .pxl-post--category {
            margin-bottom: 25px;
            min-height: 33px;
            border-radius: 17px;
            background-color: #dce7fc;
            padding: 0 40px;
            font-size: 14px;
            color: $primary_color;
            font-family: "GTWalsheimPro";
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 4px;
            a {
                text-wrap: wrap;
            }
            @media #{$max-sm} {
                font-size: 12px;
                min-height: 30px;
                height: auto;
                padding: 0 20px;
            }
        }

        .pxl-post--title {
            font-size: 23px;
            line-height: 1.3;
            color: #111111;
            font-weight: 500;
            font-family: "GTWalsheimPro";
            margin-bottom: 25px;
            @media #{$max-sm} {
                font-size: 20px;
            }
        }

        .pxl-post--content {
            font-size: 16px;
            line-height: 1.625;
            color: #4b535d;
            font-weight: 400;
            font-family: "Public Sans";
            @media #{$max-sm} {
                font-size: 14px;
            }
        }

        .pxl-post--readmore {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 16px;
            font-weight: 500;
            font-family: "GTWalsheimPro";
            color: #fff;
            background-color: $primary_color;
            @include border-radius(8px);
            padding: 0 20px;
            @include transition(all 200ms linear 0ms);
            position: absolute;
            bottom: 25px;
            left: 25px;
            right: 25px;
            width: calc(100% - 50px);
            overflow: hidden;
            @media #{$max-md2} {
                bottom: 15px;
                left: 15px;
                right: 15px;
                width: calc(100% - 30px);
            }

            i {
                transform: translateY(100%);
                opacity: 0;
                @include transition(all 200ms linear 0ms);
            }

            span {
                position: absolute;
                @include transition(all 200ms linear 0ms);
            }

            &:hover {
                i {
                    transform: translateY(0);
                    opacity: 1;
                }

                span {
                    transform: translateY(-100%);
                    opacity: 0;
                }
            }
        }
    }
}

.pxl-portfolio-grid-layout2 {
    .pxl-grid-item {
        margin-bottom: 75px;
    }
    .pxl-post--featured {
        @include border-radius(8px);
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;
        .pxl-post--category {
            position: absolute;
            bottom: 18px;
            left: 18px;
            display: flex;
            align-content: center;
            gap: 8px;
            a {
                height: 33px;
                border-radius: 16px;
                padding: 0 24px;
                background-color: $third_color;
                color: #fff;
                font-size: 14px;
                font-family: "GTWalsheimPro";
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .pxl-post--title {
        font-size: 25px;
        line-height: 35px;
        color: #0a1119;
        font-weight: 500;
        font-family: "GTWalsheimPro";
        a {
            color: inherit;
            @include transition(all 300ms linear 0ms);
            &:hover {
                color: $primary_color;
            }
        }
    }
    .pxl-post-divider {
        width: 100%;
        height: 1px;
        background-color: #cdcdcd;
    }
    .pxl-post--content {
        margin-top: 28px;
        font-size: 16px;
        line-height: 1.5625;
        color: #666666;
        font-weight: 400;
        font-family: "Public Sans";
        margin-bottom: 40px;
    }
    .pxl-post--readmore {
        a {
            display: inline-flex;
            align-items: center;
            gap: 15px;
            font-size: 17px;
            letter-spacing: 0px;
            color: #0a1119;
            font-family: "GTWalsheimPro";
            i {
                font-size: 18px;
                color: $primary_color;
                transform: translateX(0);
                @include transition(all 300ms linear 0ms);
            }
            &:hover {
                i {
                    transform: translateX(10px);
                }
            }
        }
    }
}

.pxl-portfolio-grid-layout3 {
    .pxl-grid-item {
        margin-bottom: 30px;
    }
    .pxl-post--inner {
        @include border-radius(8px);
        background-color: #ffffff;
        border: 1px solid #cdcdcd;
        padding: 48px 16px 16px 16px;
        @include transition(all 300ms linear 0ms);
        &:hover {
            border-color: transparent;
            filter: drop-shadow(0px 10px 19px rgba(0, 0, 0, 0.13));
        }
    }
    .pxl-post--holder {
        padding: 0 16px;
    }
    .pxl-post--category {
        height: 31px;
        border-radius: 16px;
        background-color: $primary_color;
        color: #fff;
        font-size: 13px;
        font-family: "GTWalsheimPro";
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        padding: 0 23px;
        margin-bottom: 22px;
    }

    .pxl-post--title {
        font-size: 23px;
        line-height: 1.3;
        color: #111111;
        font-weight: 500;
        font-family: "GTWalsheimPro";
        a {
            color: inherit;
            @include transition(all 300ms linear 0ms);
            &:hover {
                color: $primary_color;
            }
        }
    }
    .pxl-post-divider {
        width: 100%;
        height: 1px;
        background-color: #cdcdcd;
    }
    .pxl-post--content {
        margin-top: 26px;
        margin-bottom: 42px;
        font-size: 16px;
        line-height: 1.625;
        color: #666666;
        font-weight: 400;
        font-family: "Public Sans";
    }
    .pxl-post--featured {
        @include border-radius(8px);
        overflow: hidden;
    }
}

.pxl-portfolio-carousel1 {
    .pxl-swiper-dots-wrap {
        display: flex;
        justify-content: center;
        .pxl-swiper-dots {
            display: inline-flex;
        }
    }
}

// Portfolio Details

.pxl-project-info1 {
    background-color: #0a1320;
    padding: 25px 25px 30px 25px;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    .pxl-item--title {
        text-align: center;
        margin: -25px -25px 21px -25px;
        font-size: 30px;
        color: #fff;
        border-bottom: 2px solid rgba(#ffffff, 0.1);
        padding: 21px 0;
    }
    .pxl-item--button {
        margin-top: 35px;
        text-align: center;
        a {
            padding: 0 32px;
            line-height: 54px;
            font-size: 16px;
        }
    }
    .pxl-item--icon {
        position: relative;
        top: 2px;
        color: $third_color;
        font-size: 18px;
    }
    .pxl--item {
        border-bottom: 1px solid rgba(#ffffff, 0.1);
        padding-bottom: 21px;
        margin-bottom: 21px;
        display: flex;
        flex-wrap: nowrap;
        label {
            font-weight: 700;
            font-size: 20px;
            display: block;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.pxl-project-info2 {
    @extend .ft-theme-default;
    border-radius: 65px;
    padding: 19px 40px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media #{$max-md} {
        justify-content: inherit;
    }
    @media #{$max-sm} {
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 30px;
        box-shadow: 0 5px 10px rgba(#000, 0.06);
    }
    &:before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        background-color: #fff;
        border-radius: inherit;
        z-index: -1;
    }
    &:after {
        content: "";
        position: absolute;
        top: 1px;
        right: 0px;
        left: 0px;
        height: 100%;
        @include background-horizontal(
            $gradient_color_from,
            $gradient_color_to
        );
        border-radius: inherit;
        z-index: -2;
    }
    .pxl-item--icon {
        color: $primary_color;
        font-size: 18px;
    }
    .pxl--item {
        display: flex;
        flex-wrap: nowrap;
        margin: 12px 0;
        padding-right: 50px;
        @media #{$max-md} {
            width: 50%;
            padding: 0 10px;
        }
        @media #{$max-sm} {
            width: 100%;
        }
        label {
            font-weight: 600;
            color: #0a1320;
            font-size: 22px;
            display: block;
            margin-bottom: -2px;
            @media #{$max-sm} {
                font-size: 20px;
            }
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

.pxl-portfolio-carousel1 {
    .pxl-inner-top {
        margin-bottom: 68px;
    }
    .pxl-swiper-container {
        padding: 0 15px;
    }
    .pxl-carousel-inner {
        background-color: #edf0f6;
    }
    .pxl-swiper-slide {
        padding: 15px;
        border-right: 1px solid #dcdcdc;
    }
}

body.rtl {
}
