.clearfix:after {
    display: block;
    clear: both;
    content: "";
}
.pxl-item--title {
    font-size: 26px;
    line-height: 1.269;
    color: #0a1119;
    font-weight: 500;
    font-family: "GTWalsheimPro";
    margin-bottom: 20px;
    @media #{$max-sm} {
        font-size: 30px;
    }
    a {
        color: inherit;
        &:hover {
            color: $primary_color;
        }
    }
}
.pxl---post {
    .pxl-item--image {
        > a:not(.post-button-video) {
            display: block;
            width: 100%;
        }
    }
    .pxl-item--divider {
        height: 24px;
        width: 1px;
        background-color: rgba(45, 45, 45, 0.1);
        margin: 0 24px;
        @media #{$max-sm} {
            margin: 0 12px;
        }
    }
    &.product {
        .pxl-item--meta {
            display: none !important;
        }
    }

    .pxl-item--excerpt {
        margin-bottom: 37px;
    }

    .pxl-item--readmore {
        a {
            display: flex;
            align-items: center;
            gap: 16px;
            .pxl--btn-text {
                font-size: 17px;
                letter-spacing: 0px;
                color: #111111;
                font-family: "GTWalsheimPro";
            }
            .pxl--btn-icon {
                color: $primary_color;
                transform: translateX(0px);
                @include transition(all 300ms linear 0ms);
            }
            &:hover {
                .pxl--btn-icon {
                    transform: translateX(5px);
                }
            }
        }
    }
}

.pxl-blog-meta {
    font-size: 18px;
    color: #454545;
    font-weight: 500;
    @media #{$max-sm} {
        font-size: 16px;
    }
    a {
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
    .pxl-blog-meta-inner {
        display: flex;
        text-align: center;
        gap: 30px;
        flex-wrap: wrap;
        margin-top: 16px;
        margin-bottom: 27px;
        border-bottom: 1px solid #d3d5d6;
        padding-bottom: 15px;
        > div {
            display: flex;
            align-items: center;
            span.icon-post {
                width: 30px;
                height: 30px;
                border-radius: 15px;
                background-color: rgba(#0e4eeb, 0.149);
                display: flex;
                justify-content: center;
                align-items: center;
                color: $primary_color;
                font-size: 11px;
            }
            font-size: 15px;
            color: #0a1119;
            font-weight: 400;
            font-family: "Public Sans";
            .pxl-item--author-avatar {
                --x: 30px;
                width: var(--x);
                height: var(--x);
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 100%;
                }
            }
            a {
                color: inherit;
                @include transition(all 0.3s linear 0s);
                &:hover {
                    color: $primary_color;
                }
            }
        }
    }
}

.pxl-item--date {
    position: absolute;
    z-index: 5;
    background-color: #fff;
    @include border-radius(8px);
    text-align: center;
    padding: 20px 16px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pxl-item--date-month,
    .pxl-item--date-day {
        color: #111111;
        font-weight: 500;
        font-family: "Public Sans";
        font-size: 15px;
        margin-bottom: 0;
    }
    .pxl-item--date-day {
        font-size: 30px;
        line-height: 25px;
        margin-bottom: 8px;
    }
}

.pxl-item--archive {
    .pxl-item--image {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        img {
            @include transition(all 0.8s ease);
            transform: scale(1.01, 1.01);
        }
        &:hover img {
            -webkit-transform: scale(1.07, 1.07);
            transform: scale(1.07, 1.07);
        }
    }
    &.pxl-item--standard {
        padding: 20px 20px 45px 20px;
        border: 1px solid #d3d5d6;
        @include border-radius(8px);
        margin-bottom: 50px;
        .pxl-blog-meta {
            font-size: 16px;
            margin-bottom: 16px;
        }
        .pxl-item--image {
            margin-bottom: 26px;
        }
        .pxl-item--date {
            top: 17px;
            left: 17px;
        }
        .pxl-item--holder {
            padding: 0 25px;
            @media #{$max-sm} {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .pxl-item--excerpt {
            max-width: 650px;
            margin-bottom: 20px;
            @media #{$max-lg} {
                max-width: 100%;
            }
        }
        .pxl-item--readmore .btn {
            padding-left: 26px;
            padding-right: 76px;
            .pxl--btn-icon {
                min-width: 56px;
            }
        }
        &:not(:hover) {
            .pxl-item--readmore .btn {
                background-color: #454545;
                .pxl--btn-icon {
                    background-color: #000;
                }
            }
        }
    }
}

.post-button-video {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: $secondary_color;
    border-radius: 80px;
    z-index: 99;
    @media #{$max-sm} {
        width: 65px;
        height: 65px;
        font-size: 18px;
    }
    &:before {
        content: "";
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(#fff, 0.57);
        border-radius: 50%;
        animation: pxl_pulse_border 1500ms ease-out infinite;
        -webkit-animation: pxl_pulse_border 1500ms ease-out infinite;
        z-index: -2;
        border-radius: inherit;
    }
}

/* End Blog Layout */

.single-post {
    .pxl---post {
        .single-heading {
            padding-top: 10px;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 22px;
        }
        .pxl-gallery {
            margin-top: -18px;
        }
        .pxl-item--image {
            margin-bottom: 25px;
            position: relative;
            img {
                border-radius: 15px;
            }
        }
        .pxl-item--meta {
            margin-bottom: 50px;
            .pxl-blog-meta-inner {
                margin-top: 0;
                padding-bottom: 25px;
            }
        }
        .pxl-item--title {
            margin-bottom: 28px;
            font-size: 40px;
            line-height: 1.25;
            @media #{$max-sm} {
                font-size: 32px;
            }
        }
        .pxl-item--content {
            margin-bottom: 33px;
            p {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .section-hidde-single-post {
        display: none;
    }
}

.pxl--post-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #e3e3e3;
    > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;
    }
    label {
        font-size: 22px;
        color: #000001;
        font-weight: 700;
        margin-right: 20px;
        @extend .ft-secondary;
    }
    .pxl--tags {
        flex-grow: 1;
        a {
            height: 31px;
            padding: 0 22px;
            border-radius: 15px;
            background-color: $primary_color;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            color: #ffffff;
            font-family: "GTWalsheimPro";
            @include transition(all 300ms linear 0ms);
            margin-right: 8px;
            &:hover {
                background-color: $secondary_color;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.pxl-pagination-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    .page-numbers {
        width: 52px;
        height: 52px;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #0a1119;
        font-family: "GTWalsheimPro";
        position: relative;
        z-index: 1;
        padding: 0;
        margin: 0 5px;
        border: 1px solid rgba(#0a1119, 0.15);
        border-radius: 52px;
        cursor: pointer;
        @include transition(all 0.3s linear 0s);
        i {
            font-size: 13px;
        }
        &:hover {
            background-color: $primary_color;
            border-color: $primary_color;
            color: #fff;
        }
    }

    .pxl-pagination-links {
        margin-top: 20px;
        display: inline-flex;
    }
}

.pxl-post--navigation {
    background-color: #f7f7f7;
    border-radius: 20px;
    padding: 32px 0;
    margin: 30px 0;
    .pxl-navigation--image {
        width: 130px;
        min-width: 130px;
        border-radius: 130px;
        height: 130px;
        position: relative;
        @media #{$max-lg} {
            width: 110px;
            min-width: 110px;
            border-radius: 110px;
            height: 110px;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            @include background-gradient-bottom(
                $gradient_color_from,
                $gradient_color_to
            );
            opacity: 0;
            @include transition(all 300ms linear 0ms);
            z-index: 2;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            background-color: rgba(#000, 0.08);
            @include transition(all 300ms linear 0ms);
            z-index: 1;
        }
        .pxl-navigation--link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
        }
    }
    .pxl-navigation--date {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        color: $primary_color;
        margin-bottom: 7px;
    }
    .pxl-navigation--title {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 1.4444;
        font-weight: 600;
        color: #000001;
        a {
            color: inherit;
            &:hover {
                color: inherit;
            }
        }
    }
    .pxl-navigation--icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 52px;
        height: 52px;
        border-radius: 52px;
        border: 4px solid #fff;
        color: #fff;
        font-size: 26px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        z-index: 88;
        @media #{$max-lg} {
            width: 45px;
            height: 45px;
            border-radius: 45px;
            border-width: 3px;
            font-size: 20px;
        }
    }
    .pxl-navigation--col {
        width: 50%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 15px 25px;
        @media #{$max-sm} {
            width: 100%;
        }
        + .pxl-navigation--col {
            border-left: 1px solid rgba(#545661, 0.22);
            @media #{$max-sm} {
                border: none;
                margin-top: 20px;
            }
        }
        &:hover {
            .pxl-navigation--image {
                &:before {
                    opacity: 0.5;
                }
                &:after {
                    opacity: 0;
                }
            }
        }
    }
}

.pxl-custom-swiper {
    overflow: hidden;
    position: relative;
}

.pxl-post-gallery-slider .pxl-custom-swiper {
    border-radius: 8px 8px 0 0;
    img {
        @include border-radius(0px);
    }
    .pxl-swiper-arrow.pxl-swiper-arrow-next {
        right: 26px;
    }
    .pxl-swiper-arrow.pxl-swiper-arrow-prev {
        left: 26px;
    }
}

.page-template-default {
    .pxl-sidebar-sticky {
        border-radius: 15px;
        background-color: #f7f7f7;
        padding: 23px;
    }
}

body.error404 {
    #pxl-header-elementor,
    #pxl-page-title-elementor,
    #pxl-footer-elementor {
        display: none !important;
    }
    #pxl-main {
        padding: 0;
        height: 100vh;
    }
}

.error404 {
    .pxl-error-inner {
        height: 100vh;
        display: flex;
        align-items: center;
        @media #{$max-md} {
            height: auto;
            flex-direction: column;
        }
    }
    img {
        height: 600px;
        object-fit: contain;
        @media #{$max-lg3} {
            height: 500px;
        }
    }
    .pxl-error--col-1,
    .pxl-error--col-2 {
        padding: 0 15px;
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media #{$max-md} {
            padding: 45px 15px;
            width: 100%;
        }
    }
    .pxl-error--col-2 {
        background-color: #164ac8;
        .pxl-error--content {
            display: flex;
            flex-direction: column;
            max-width: 750px;
            width: 100%;
            text-align: left;
            .pxl-error--title,
            .pxl-error--subtitle {
                font-size: 150px;
                line-height: 1;
                color: #ffffff;
                font-weight: 500;
            }
            .pxl-error--subtitle {
                font-size: 55px;
            }
            .pxl-error--divider {
                opacity: 0.149;
                width: 100%;
                height: 1px;
                background-color: #ffffff;
                margin-top: 35px;
                margin-bottom: 45px;
            }
            .pxl-error--description {
                max-width: 745px;
                font-size: 18px;
                line-height: 1.66667;
                color: #ffffff;
                font-weight: 400;
                font-family: "Public Sans", serif;
                margin-bottom: 45px;
            }
            @media #{$max-lg3} {
                .pxl-error--title {
                    font-size: 120px;
                }
                .pxl-error--subtitle {
                    font-size: 45px;
                }
                .pxl-error--description {
                    font-size: 16px;
                }
            }
            @media #{$max-xs} {
                .pxl-error--title {
                    font-size: 80px;
                }
                .pxl-error--subtitle {
                    font-size: 35px;
                }
                .pxl-error--divider {
                    margin: 25px 0;
                }
                .pxl-error--description {
                    font-size: 14px;
                    margin-bottom: 25px;
                }
            }
        }
    }
}

.page-links {
    margin-top: 24px;
    clear: left;
    .post-page-numbers {
        width: 36px;
        height: 36px;
        background-color: #fff;
        line-height: 36px;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        display: inline-block;
        margin: 15px 15px 0 0;
        color: #080808;
        position: relative;
        z-index: 1;
        padding: 0;
        border: 1px solid #e9e9e9;
        @include border-radius(0px);
        &.current,
        &:hover {
            color: #fff;
            border-color: $primary_color;
            background-color: $primary_color;
        }
    }
}

.pxl-post-row {
    padding-top: 4px;
    margin-bottom: -56px;
    > div {
        margin-bottom: 30px;
        > p {
            margin-bottom: 0 !important;
        }
    }
}

.pxl-content-wrap.no-sidebar {
    .pxl-content-top {
        max-width: 860px;
        margin-left: auto;
        margin-right: auto;
    }
}

.post-shares {
    .label {
        display: flex;
        align-items: center;
        font-size: 17px;
        line-height: 1.5294117647;
        color: #0a1119;
        font-family: "GTWalsheimPro";
        gap: 12px;
        i {
            width: 43px;
            height: 43px;
            @include border-radius(43px);
            background-color: $secondary_color;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            color: #fff;
        }
    }
}

.post-shares {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;

    .label {
        @include transform(translateX(220px));
        cursor: pointer;
        @include transition(all 0.3s linear 0s);
        @media screen and (max-width: 580px) {
            @include transform(translateX(0));
        }
    }

    &:hover {
        .social-share {
            .social {
                display: flex;
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
            }
        }
    }
}

.social-share {
    .social {
        display: flex;
        opacity: 0;
        visibility: hidden;
        align-items: center;
        gap: 8px;
        transform: translateX(-20px);
        transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        .pxl-icon {
            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    transition: opacity 0.3s linear ($i * 0.1s),
                        transform 0.3s linear ($i * 0.1s),
                        background-color 0.3s linear 0s, color 0.3s linear 0s,
                        box-shadow 0.3s linear 0s;
                    opacity: 0;
                    transform: translateY(10px);
                }
            }
        }
    }

    .pxl-icon {
        width: 43px;
        height: 43px;
        border-radius: 22px;
        background-color: #dbe5fc;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        color: $primary_color;

        &:hover {
            background-color: $primary_color;
            color: #fff;
            transform: translateY(-3px);
            box-shadow: 0 4px 12px rgba($primary_color, 0.2);
        }
    }
}

.post-shares:hover {
    .label {
        @include transform(translateX(0));
    }
    .social-share .social .pxl-icon {
        opacity: 1;
        transform: translateY(0);
    }
}

// Post List
.pxl-post-list {
    &.layout-post-1 {
        .post-list-toolbar {
            margin-bottom: 30px;
        }
        .result-count {
            font-size: 15px;
            line-height: 1.6667;
            color: #0a1119;
            font-weight: 400;
            font-family: "Public Sans";
        }
        .orderby.nice-select {
            height: 50px;
            background-color: $primary_color;
            color: #fff;
            font-size: 15px;
            font-family: "GTWalsheimPro";
            border: none;
            position: relative;

            &::before {
                --x: 40px;
                content: "\f150";
                font-family: "Caseicon";
                display: block;
                width: var(--x);
                height: var(--x);
                line-height: var(--x);
                @include border-radius(var(--x));
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 13px;
                color: #111;
                position: absolute;
                top: 50%;
                right: 7px;
                @include transform(translate(0, -50%));
            }
        }
        .list-item {
            border: 1px solid #d3d5d6;
            @include border-radius(8px);
            padding: 20px;
            margin-bottom: 50px;
            @include transition(all 0.3s linear 0s);
            &:hover {
                .post-image {
                    img {
                        transform: scale(1.05);
                    }
                }
            }
        }
        .post-image {
            position: relative;
            @include border-radius(8px);
            height: 100%;
            overflow: hidden;
            img {
                @include border-radius(8px);
                height: 100%;
                object-fit: cover;
                transform: scale(1);
                @include transition(all 0.3s linear 0s);
            }
            .pxl-item--date {
                top: 17px;
                right: 22px;
            }
        }
        .wrap-item-content {
            .item-content {
                padding: 40px 34px 58px 40px;
            }
        }
        .item-excerpt {
            margin-bottom: 43px;
        }

        .blog-post-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .post-readmore .btn {
            background-color: $primary_color;
            color: #fff;
            @include border-radius(8px);
            &:hover {
                background-color: $secondary_color;
            }
        }
    }
}
.pxl-post-navigation-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .pxl-navigation--prev {
        i {
            transform: rotate(180deg);
        }
    }
    .pxl-icon-link {
        display: flex;
        align-items: center;
        column-gap: 20px;
        font-size: 15px;
        @extend .ft-theme-default;
        letter-spacing: 2px;
        font-weight: 500;
        color: #121315;
        font-family: "GTWalsheimPro";
        @media (max-width: 575px) {
            font-size: 0;
        }
        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }
        .pxl-item-icon {
            display: inline-flex;
            width: 61px;
            height: 61px;
            border-radius: 1000px;
            background-color: $primary_color;
            align-items: center;
            justify-content: center;
            font-size: 17px;
            color: #fff;
        }
    }
    .pxl--item-grid {
        display: inline-block;
        width: 25px;
        height: 25px;
        position: relative;
        @include transition(all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1));

        .bl {
            position: absolute;
            width: 7px;
            height: 7px;
            background-color: $primary_color;
            border-radius: 100px;
            @include transition(all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1));

            &.bl1 {
                top: 0;
                left: 0;
            }
            &.bl2 {
                top: 0;
                right: 0;
            }
            &.bl3 {
                bottom: 0;
                right: 0;
            }
            &.bl4 {
                bottom: 0;
                left: 0;
            }
        }
    }
}

// Post Carousel
.pxl-post-carousel1 {
    .pxl-item--inner {
        @include border-radius(8px);
        border: 1px solid #dcdcdc;
        &:hover {
            .pxl-post--divider {
                &:before {
                    width: 100%;
                    left: 0;
                    right: auto;
                }
                .pxl-post--button {
                    a {
                        span {
                            &:after {
                                width: 100%;
                                left: 0;
                                right: auto;
                            }
                        }
                        i {
                            @include transform(translateX(5px));
                        }
                    }
                }
            }
        }
    }
    .pxl-post--featured {
        position: relative;
        height: 346px;
        @include border-radius(8px 8px 0 0);
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    .pxl-item--date {
        top: 12px;
        left: 10px;
    }
    .pxl-post--meta {
        background-color: $primary_color;
        @include border-radius(8px);
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        padding: 15px 35px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        color: #fff;
        div {
            color: inherit;
            font-size: 15px;
            text-transform: capitalize;
            a {
                color: inherit;
            }
        }
    }
    .pxl-post--body {
        padding: 25px 35px 35px 35px;
    }
    .pxl-post--title {
        font-size: 20px;
        line-height: 30px;
        color: #111111;
        @include transition(all 0.3s linear 0s);
        margin-bottom: 25px;
        &:hover {
            color: $primary_color;
        }
    }
    .pxl-post--divider {
        height: 1px;
        width: 100%;
        background-color: rgba(#121c27, 0.129);
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 86px;
            height: 1px;
            background-color: $primary_color;
            @include transition(all 0.3s linear 0s);
        }
    }
    .pxl-post--content {
        margin: 25px 0;
    }
    .pxl-post--button {
        a {
            display: inline-flex;
            align-items: center;
            column-gap: 18px;
            @include transition(all 0.3s linear 0s);
            span {
                color: #111;
                font-size: 16px;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: auto;
                    width: 0;
                    height: 1px;
                    background-color: #111;
                    @include transition(all 0.3s linear 0s);
                }
            }
            i {
                color: $primary_color;
                font-size: 20px;
                @include transform(translateX(0));
                @include transition(all 0.3s linear 0s);
            }
            &:hover {
                span {
                    &:after {
                        width: 100%;
                        left: 0;
                        right: auto;
                    }
                }
                i {
                    @include transform(translateX(5px));
                }
            }
        }
    }
    .pxl-swiper-arrow-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        width: calc(117%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 3;
        .pxl-swiper-arrow-prev {
            i {
                transform: rotate(180deg);
            }
        }
        @media #{$max-xl} {
            position: static;
            width: 100%;
            justify-content: center;
            margin-top: 50px;
            top: 0;
            left: 0;
            @include transform(translate(0, 0));
            column-gap: 30px;
        }
    }
}

.pxl-post-carousel2 {
    .pxl-item--inner {
        padding: 40px 0;
        &:first-child,
        + .list-item {
            border-top: 1px solid #dadee2;
        }
        &:last-child {
            border-bottom: 1px solid #dadee2;
        }
    }
    .pxl-item--inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .pxl-item-col-1 {
        max-width: 320px;
    }
    .pxl-item--title {
        font-size: 23px;
        line-height: 33px;
        margin-bottom: 15px;
    }
    .pxl-item-date {
        font-size: 15px;
        color: #111;
        font-family: "GTWalsheimPro";
    }
    .pxl-item-meta {
        font-size: 15px;
        color: $primary_color;
    }
    .pxl-item-category {
        a {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 1px;
                background-color: $primary_color;
                @include transition(all 0.3s linear 0s);
                width: 0;
            }
            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }
    }

    .pxl-item-excerpt {
        max-width: 400px;
    }
    .post-readmore {
        margin-top: 20px;
        a {
            padding: 0;
            margin: 0;
            @include border-radius(0);
            font-size: 17px;
            color: #111;
            display: inline-flex;
            align-items: center;
            font-family: "GTWalsheimPro";
            gap: 15px;
            i {
                color: $primary_color;
                font-size: 20px;
                @include transform(translateX(0));
                @include transition(all 0.3s linear 0s);
            }
            &:hover {
                i {
                    @include transform(translateX(10px));
                }
            }
        }
    }
    .pxl-item-col-3 {
        display: flex;
        justify-content: flex-end;
        .item--featured {
            @include border-radius(8px);
        }
        img {
            @include border-radius(8px);
        }
    }
    .pxl-post--footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        .pxl-swiper-pagination-bullets {
            margin: 0;
            margin-left: 7px;
        }
        .view-all-btn {
            margin-left: auto;
            justify-content: end;
            color: #fff;
            background-color: $primary_color;
            @include transition(all 0.3s linear 0s);
            &:hover {
                background-color: $secondary_color;
            }
        }
    }

    @media #{$max-md2} {
        .pxl-item--inner {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .pxl-item-col-3 {
            order: 1;
            width: 100%;
            .item--featured {
                width: 100%;
                a {
                    width: 100%;
                }
                img {
                    width: 100%;
                }
            }
        }
        .pxl-item-col-1 {
            order: 2;
            width: 100%;
            max-width: 100%;
        }
        .pxl-item-col-2 {
            order: 3;
            width: 100%;
            max-width: 100%;
            .pxl-item-excerpt {
                max-width: 100%;
            }
        }
    }
}

// Post Grid
.pxl-blog-grid-layout1 {
    .pxl-inner-content {
        padding: 40px 0;
        &:first-child,
        + .list-item {
            border-top: 1px solid #dadee2;
        }
        &:last-child {
            border-bottom: 1px solid #dadee2;
        }
    }
    .pxl-inner-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .pxl-item-col-1 {
        max-width: 320px;
    }
    .pxl-item--title {
        font-size: 23px;
        line-height: 33px;
        margin-bottom: 15px;
    }
    .pxl-item-date {
        font-size: 15px;
        color: #111;
        font-family: "GTWalsheimPro";
    }
    .pxl-item-meta {
        font-size: 15px;
        color: $primary_color;
    }
    .pxl-item-category {
        a {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 1px;
                background-color: $primary_color;
                @include transition(all 0.3s linear 0s);
                width: 0;
            }
            &:hover {
                &:after {
                    width: 100%;
                    left: 0;
                    right: auto;
                }
            }
        }
    }
    .pxl-item-excerpt {
        max-width: 400px;
    }
    .post-readmore {
        margin-top: 20px;
        a {
            padding: 0;
            margin: 0;
            @include border-radius(0);
            font-size: 17px;
            color: #111;
            display: inline-flex;
            align-items: center;
            font-family: "GTWalsheimPro";
            gap: 15px;
            i {
                color: $primary_color;
                font-size: 20px;
                @include transform(translateX(0));
                @include transition(all 0.3s linear 0s);
            }
            &:hover {
                i {
                    @include transform(translateX(10px));
                }
            }
        }
    }
    .pxl-item-col-3 {
        display: flex;
        justify-content: flex-end;
        .item--featured {
            @include border-radius(8px);
        }
        img {
            @include border-radius(8px);
        }
    }
    .pxl-post--footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        .pxl-swiper-pagination-bullets {
            margin: 0;
            margin-left: 7px;
        }
        .view-all-btn {
            margin-left: auto;
            justify-content: end;
            color: #fff;
            background-color: $primary_color;
            @include transition(all 0.3s linear 0s);
            &:hover {
                background-color: $secondary_color;
            }
        }
    }
}
