/*--------------------------------------------------------------
Service Style
----------------------------------------------------------------
# Service Grid
# Service Carousel
--------------------------------------------------------------*/
.pxl-service-carousel1 {
    --x: 30px;
    &.style-2 {
        .pxl-swiper-container {
            padding: 0 15px;
        }
        .pxl-swiper-slide {
            padding: 0;
            + .pxl-swiper-slide {
                .pxl-post--inner {
                    border-left: 0;
                }
            }
        }
        .pxl-post--inner {
            @include border-radius(0);
            &:hover {
                transform: none;
                filter: none;
                border-color: #cdcdcd;
            }
        }
    }
    .pxl-swiper-container {
        padding-top: var(--x);
        padding-bottom: var(--x);
    }
    @extend .pxl-service-style1;
    .pxl-swiper-arrow-wrap {
        max-width: 1305px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-bottom: 78px;
        .pxl-swiper-arrow-prev {
            i {
                transform: rotateY(180deg);
            }
        }
        @media #{$max-md2} {
            margin-bottom: 0;
        }
        @media #{$max-md} {
            position: absolute;
            z-index: 10;
            bottom: -80px;
            left: 0;
            width: 100%;
            justify-content: center;
            margin-bottom: 0;
        }
    }
}

.pxl-service-style1 {
    .pxl-post--inner {
        background-color: #fff;
        @include border-radius(8px);
        border: 1px solid #cdcdcd;
        padding: 48px 36px 38px 35px;
        @include transition(all 0.3s linear 0ms);
        &:hover {
            transform: translateY(calc(var(--x) * -1));
            filter: drop-shadow(0px 20px 17.5px rgba(8, 29, 82, 0.13));
            border-color: transparent;
            .pxl-post--icon {
                background-color: $secondary_color;
                i {
                    transform: rotateY(360deg);
                }
            }
        }
    }
    .pxl-post--header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        .pxl-post--icon {
            margin-left: 2px;
            width: 87px;
            height: 87px;
            border-radius: 8px;
            background-color: $primary_color;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 40px;
            @include transition(all 0.3s linear 0ms);
            i {
                transform: rotateY(0deg);
                @include transition(all 0.3s linear 0ms);
            }
        }
    }
    .pxl-post--title {
        font-size: 25px;
        line-height: 1.6;
        color: #111111;
        font-weight: 500;
        margin-bottom: 17px;
        @include transition(all 0.3s linear 0ms);
        &:hover {
            color: $primary_color;
        }
    }
    .pxl-post--excerpt {
        font-size: 15px;
        line-height: 1.667;
        color: #666666;
        font-weight: 400;
        @media #{$max-md} {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
    .pxl-item--divider {
        background-color: #d3d5d6;
        width: 100%;
        height: 1px;
        margin: 27px 0;
    }
    .pxl-post--readmore {
        a {
            display: flex;
            align-items: center;
            font-size: 17px;
            letter-spacing: 0px;
            color: #111111;
            font-family: "GTWalsheimPro";
            gap: 12px;
            i {
                color: $primary_color;
                font-size: 20px;
                transform: translateX(0);
                @include transition(all 0.3s linear 0ms);
            }
            &:hover {
                i {
                    transform: translateX(5px);
                }
            }
        }
    }
}

.pxl-service-info {
    display: flex;
    gap: 54px;
    align-items: center;
    border: 1px solid #cdcdcd;
    @include border-radius(8px);
    padding: 24px 124px 24px 24px;
    position: relative;
    @media #{$max-lg} {
        flex-direction: column;
        padding: 24px;
    }
    @media #{$max-xs} {
        padding: 15px;
        gap: 0;
    }
    &:hover {
        .pxl-service-info__image {
            img {
                @include transform(scale(1.1) rotate(2deg));
            }
            &:before {
                animation: pxl-shine 1s linear forwards;
                animation-delay: 0.1s;
            }
        }
        .pxl-service-info__icon {
            i {
                transform: rotateY(360deg);
            }
        }
    }
    &__image {
        height: 436px;
        width: 512px;
        @include border-radius(8px);
        overflow: hidden;
        position: relative;
        @media #{$max-lg} {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transition(all 0.3s linear 0ms);
            @include transform(scale(1) rotate(0deg));
            position: relative;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -200%;
            width: 100%;
            height: 100%;
            @include transform(skewx(-20deg));
            background-image: -webkit-gradient(
                linear,
                left top,
                right top,
                from(transparent),
                color-stop(rgba(255, 255, 255, 0.35)),
                to(transparent)
            );
            background-image: linear-gradient(
                to right,
                transparent,
                rgba(255, 255, 255, 0.35),
                transparent
            );
            z-index: 1;
            pointer-events: none;
        }
    }
    &__content {
        --x: 87px;
        flex: 1;
        display: flex;
        gap: 40px;
        @media #{$max-xs} {
            flex-direction: column;
            margin-top: calc(var(--x) / 2 * -1);
        }
    }
    &__icon {
        width: var(--x);
        height: var(--x);
        border-radius: 8px;
        background-color: $primary_color;
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 40px;
        z-index: 3;
        i {
            transform: rotateY(0deg);
            @include transition(all 0.3s linear 0ms);
        }
        @media #{$max-xs} {
            margin-left: calc(var(--x) / 2);
        }
    }
    &__wrap {
        flex: 1;
    }
    &__title {
        font-size: 30px;
        color: #111111;
        font-weight: 500;
        font-family: "GTWalsheimPro";
        margin-bottom: 30px;
        line-height: 1;
    }
    &__lists {
        margin-top: 30px;
        margin-bottom: 0;
        list-style: none;
        li {
            font-size: 16px;
            line-height: 38px;
            color: #111111;
            font-weight: 400;
            font-family: "Public Sans";
            padding-left: 24px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $primary_color;
            }
        }
    }
    &__link {
        width: 73px;
        height: 73px;
        border-radius: 50%;
        background-color: $primary_color;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 24px;
        @include transition(all 0.3s linear 0ms);
        position: absolute;
        right: 54px;
        bottom: 75px;
        &:hover {
            background-color: $secondary_color;
            color: #fff;
        }
        @media #{$max-xsx} {
            height: 55px;
            width: 100%;
            position: static;
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            @include border-radius(8px);
        }
    }
}

@keyframes pxl-shine {
    100% {
        left: 200%;
    }
}

.pxl-service-grid-layout1 {
    .pxl-post--inner {
        margin-bottom: 30px;
    }
}

body.rtl {
}
