/*--------------------------------------------------------------
# Team Grid/Carousel
--------------------------------------------------------------*/
.pxl-team-grid1 {
    .pxl-grid-item {
        margin-bottom: 75px;
    }
    .pxl-item--image {
        position: relative;
        margin-bottom: 30px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include border-radius(8px);
        }
    }
    .pxl-item--social {
        position: absolute;
        bottom: 25px;
        right: 25px;

        .pxl-item--social-list {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            padding: 20px 18px;
            width: 50px;
            @include border-radius(25px);
            margin-bottom: 8px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            @include transition(all 300ms linear 0ms);

            a {
                display: inline;
                color: #111;
                @include transition(all 300ms linear 0ms);
                &:hover {
                    color: $primary_color;
                }
            }
        }

        &:hover {
            .pxl-item--social-list {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
    .pxl-item--social-inner {
        display: flex;
        flex-direction: column;
    }
    .pxl-item--social-share {
        width: 50px;
        height: 50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        @include border-radius(50px);
        background-color: $primary_color;
        color: #fff;
        font-size: 16px;
        @include transition(all 300ms linear 0ms);
        cursor: pointer;
        &:hover {
            background-color: $secondary_color;
        }
    }
    .pxl-item--social-list {
        display: inline-flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        background-color: #fff;
        padding: 20px 18px;
        width: 50px;
        @include border-radius(25px);
        margin-bottom: 8px;
        a {
            display: inline;
            color: #111;
            @include transition(all 300ms linear 0ms);
            &:hover {
                color: $primary_color;
            }
        }
    }
    .pxl-item--title {
        font-size: 23px;
        line-height: 30px;
        color: #0a1119;
        font-weight: 500;
        font-family: "GTWalsheimPro";
        text-align: center;
		margin-bottom: 0;
    }
	.pxl-item--position {
		font-size: 16px;
		color: #666;
	}
}

.pxl-team-layout2 {
    .pxl-item--image {
        position: relative;
        margin-bottom: 38px;
        border-radius: 20px;
        overflow: hidden;
        img {
            border-radius: inherit;
        }
    }
    .pxl-item--social {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @include background-horizontal(
            $gradient_color_from,
            $gradient_color_to
        );
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        @include transition(all 300ms linear 0ms);
        transform: translateY(101%);
        a {
            width: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 29px;
            min-height: 70px;
            color: #fff;
            + a {
                border-left: 1px solid #fff;
            }
        }
    }
    .pxl-item--title {
        margin-bottom: 0;
        font-size: 28px;
    }
    .pxl-item--position {
        font-size: 16px;
        color: #8799a3;
    }
    .pxl-item--holder {
        @include transition(all 300ms linear 0ms);
    }
    .pxl-item--divider {
        height: 40px;
        @include background-horizontal(
            $gradient_color_from,
            $gradient_color_to
        );
        @include transition(all 300ms linear 0ms);
        position: absolute;
        top: 0px;
        border-radius: 20px 20px 0 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
    .pxl-item--inner {
        position: relative;
        margin-top: 8px;
        z-index: 1;
        &:hover {
            .pxl-item--holder {
                transform: translateY(-25px);
            }
            .pxl-item--divider {
                top: -8px;
            }
            .pxl-item--social {
                transform: translateY(0%);
            }
        }
    }
}
