/*--------------------------------------------------------------
# Text Carousel
--------------------------------------------------------------*/

.pxl-text-carousel1 {
    .pxl-item--title {
        color: #111;
        font-family: "GTWalsheimPro";
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.17;
        margin-bottom: 18px;
    }
    .pxl-item--desc {
        color: #111;
        font-family: "GTWalsheimPro";
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75;
    }
    .pxl-wrap-arrow {
        margin-top: 36px;
        column-gap: 25px;
        .pxl-swiper-arrow {
            cursor: pointer;
            &.pxl-swiper-arrow-prev {
                i {
                    transform: rotate(180deg);
                }
            }
            &.swiper-button-disabled {
                pointer-events: none;
                i {
                    color: #cdcdcd;
                    opacity: 0.5;
                }
            }
        }
        i {
            color: #111;
            font-size: 30px;
            line-height: 1;
        }
    }
    &.style-2 {
        .pxl-item--desc {
            color: #fff;
            max-width: 84%;
            line-height: 1.64;
        }
        .pxl-swiper-bottom {
            justify-content: end;
        }
        .pxl-wrap-arrow {
            margin-top: 71px;
            column-gap: 33px;
            &.swiper-button-disabled {
                pointer-events: none;
                i {
                    color: #cdcdcd;
                    opacity: 0.5;
                }
            }
        }
        i {
            color: #fff;
            font-size: 24px;
        }
    }
}

.pxl-text-carousel2 {
    .pxl-swiper-container {
        margin: 0;
    }
    .pxl-item--inner {
        &:hover {
            .pxl-item--title {
                &:after {
                    transform: scale(1);
                }
            }
        }
    }
    .pxl-item--milestone {
        color: #fff;
        font-family: "GTWalsheimPro";
        font-size: 15px;
        margin-bottom: 20px;
    }
    .pxl-item--title {
        color: #fff;
        font-family: "GTWalsheimPro";
        font-size: 23px;
        margin-top: 13px;
        padding-bottom: 37px;
        margin-bottom: 0;
        position: relative;
        &:before {
            --x: 11px;
            content: "";
            position: absolute;
            width: var(--x);
            height: var(--x);
            background-color: #fff;
            @include border-radius(50%);
            bottom: calc(var(--x) / -2);
            left: 0;
            z-index: 3;
        }
        &:after {
            --x: 35px;
            content: "";
            position: absolute;
            width: var(--x);
            height: var(--x);
            border: 1px solid #353e47;
            @include border-radius(50%);
            bottom: calc(var(--x) / -2);
            left: -13px;
            transform: scale(0);
            z-index: 1;
            @include transition(all 0.3s ease-in-out);
        }
    }
    .pxl-item--desc {
        padding-top: 40px;
        padding-right: 45px;
        margin-bottom: 0;
        color: #cdd4ef;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% + 30px);
            height: 1px;
            background-color: rgba(#fff, 0.149);
            opacity: 0;
        }
        @media #{$max-xl} {
            &:before {
                opacity: 1;
            }
        }
    }
    .pxl-swiper-bottom {
        @media #{$max-xl} {
            justify-content: center;
        }
    }
    .pxl-wrap-arrow {
        position: absolute;
        top: 72px;
        left: -135px;
        right: -135px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba(#fff, 0.149);
            transform: translateY(-50%);
        }
        @media #{$max-xl} {
            position: static;
            margin-top: 30px;
            gap: 30px;
            &:before {
                display: none;
            }
        }
        .pxl-swiper-arrow {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            i {
                color: #111;
                font-size: 20px;
                line-height: 1;
            }
            &.pxl-swiper-arrow-prev {
                i {
                    transform: rotate(180deg);
                }
            }
            &.swiper-button-disabled {
                pointer-events: none;
                i {
                    color: #cdcdcd;
                    opacity: 0.5;
                }
            }
        }
    }
}

.pxl-text-carousel3 {
    .pxl-carousel-inner {
        position: relative;
        overflow: unset;
        &:before {
            position: absolute;
            content: "";
            width: calc(100% + 83px + 83px);
            height: 1px;
            background-color: rgba(#121c27, 0.149);
            top: 140px;
            left: 50%;
            transform: translateX(-50%);
        }
        @media #{$max-xl} {
            &:before {
                width: 100%;
            }
        }
    }
    .pxl-item--inner {
        text-align: center;
        &:hover {
            .pxl-item--title {
                &:after {
                    transform: translateX(calc(50% - 17.5px)) scale(1);
                }
            }
        }
    }
    .pxl-swiper-icon {
        margin-bottom: 30px;
        i {
            font-size: 26px;
            color: $primary_color;
        }
    }
    .pxl-item--title {
        font-size: 23px;
        line-height: 40px;
        color: #111111;
        font-weight: 500;
        font-family: "GTWalsheimPro";
        padding-bottom: 40px;
        position: relative;
        margin-bottom: 0;
        &:before {
            content: "";
            position: absolute;
            bottom: -5.5px;
            left: 50%;
            width: 11px;
            height: 11px;
            @include border-radius(50%);
            background-color: $primary_color;
            transform: translateX(-50%);
            z-index: 2;
        }

        &:after {
            content: "";
            position: absolute;
            width: 35px;
            height: 35px;
            border: 1px solid $primary_color;
            @include border-radius(50%);
            bottom: calc(35px / -2);
            left: calc(50% - 17.5px);
            transform: translateX(calc(50% - 17.5px)) scale(0);
            @include transition(all 0.3s linear 0ms);
            z-index: 2;
        }
    }
    .pxl-item--desc {
        padding-top: 40px;
        position: relative;
    }
}

.pxl-text-carousel4 {
    .pxl-swiper-container {
        margin: 0;
    }
    .pxl-swiper-slide {
        &:first-child {
            .pxl-item--header {
                &:before {
                    display: none;
                }
            }
        }
    }
    .pxl-item--inner {
        text-align: center;
    }
    .pxl-item--header {
        width: 100%;
        position: relative;
        margin-bottom: 29px;
        &:before {
            content: "\F110";
            font-family: "Flaticon";
            position: absolute;
            top: 50%;
            left: -22px;
            transform: translateY(-50%);
            font-size: 16px;
            color: #ffffff;
        }
        @media #{$max-xs} {
            &:before {
                display: none;
            }
        }
    }
    .pxl-item--step {
        height: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        background-color: rgba(#fff, 0.149);
        padding: 0 20px;
        font-size: 13px;
        color: #ffffff;
        font-family: "GTWalsheimPro";
    }
    .pxl-item--title {
        font-size: 26px;
        line-height: 30px;
        color: #ffffff;
        font-weight: 500;
        font-family: "GTWalsheimPro";
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .pxl-item--desc {
        color: #cdd4ef;
        max-width: 300px;
        margin: 0 auto;
    }
}

.pxl-text-carousel5 {
    .pxl-swiper-slide {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            width: 1px;
            height: 80%;
            background-color: #dcdcdc;
            transform: translateY(-50%);
        }
        &:after {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color: $primary_color;
            right: -3px;
            top: 20%;
            z-index: 2;
            animation: pxl_rain-drop-2 2s linear infinite;
        }
    }

    .pxl-item--inner {
        text-align: center;
        padding: 0 45px;
        position: relative;
        @media #{$max-xsx} {
            padding: 0;
        }
    }
    .pxl-item--icon {
        width: 86px;
        height: 86px;
        border-radius: 43px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 36px;
        background-color: $primary_color;
        margin-bottom: 28px;
    }
    .pxl-item--title {
        font-size: 23px;
        line-height: 40px;
        color: #111111;
        margin-bottom: 16px;
    }

    .pxl-wrap-arrow {
        position: absolute;
        width: calc(100% + 80px + 80px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .pxl-swiper-arrow {
            font-size: 24px;
            display: inline-block;
            cursor: pointer;
            z-index: 5;
            &.pxl-swiper-arrow-prev {
                i {
                    transform: rotate(180deg);
                }
            }
        }
        @media #{$max-xl} {
            width: 100%;
            position: static;
            margin-top: 30px;
            top: 0;
            left: 0;
            transform: none;
            justify-content: center;
            column-gap: 30px;
        }
    }
}

@keyframes pxl_rain-drop-2 {
    0% {
        top: 20%;
        opacity: 0.8;
    }
    70% {
        opacity: 1;
    }
    100% {
        top: 90%;
        opacity: 0;
    }
}

.pxl-text-carousel6 {
    .pxl-item--inner {
        display: flex;
        gap: 30px;
        @media #{$max-xs} {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 20px;
        }
        &:hover {
            .pxl-item--icon {
                i,
                svg,
                img {
                    animation-name: pxl_wobble_vertical;
                    animation-duration: 1s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: 1;
                }
            }
        }
    }
    .pxl-item--icon {
        width: 74px;
        height: 74px;
        @include border-radius(50%);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 36px;
        background-color: rgba(#fff, 0.149);
    }
    .pxl-item--content {
        flex: 1;
    }
    .pxl-item--title {
        font-size: 23px;
        line-height: 40px;
        color: #ffffff;
        font-weight: 500;
        font-family: "GTWalsheimPro";
        margin-bottom: 8px;
    }
    .pxl-item--desc {
        color: #cdd4ef;
        max-width: 270px;
        @media #{$max-xs} {
            max-width: 100%;
        }
    }
    .pxl-swiper-bottom {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% + 83px + 83px);
        z-index: 10;
        @media #{$max-xl} {
            width: 100%;
            position: static;
            top: 0;
            left: 0;
            transform: none;
            justify-content: center;
            column-gap: 30px;
        }
    }
    .pxl-wrap-arrow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @media #{$max-xl} {
            width: 100%;
            justify-content: center;
            column-gap: 30px;
        }
    }
    .pxl-swiper-arrow {
        font-size: 24px;
        color: #fff;
        cursor: pointer;
        &.pxl-swiper-arrow-prev {
            i {
                transform: rotate(180deg);
            }
        }
    }
}

.pxl-text-carousel7 {
    --x: 54px;
    .pxl-swiper-slide {
        text-align: center;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: calc(var(--x) / 2);
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #d3d3d3;
        }
        &:after {
            content: "\F110";
            font-family: "Flaticon";
            position: absolute;
            top: 11px;
            right: 0;
            font-size: 20px;
            color: #111;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
    .pxl-item--number {
        width: var(--x);
        height: var(--x);
        @include border-radius(50%);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 17px;
        background-color: $primary_color;
        font-family: "GTWalsheimPro";
        z-index: 5;
        position: relative;
        margin-bottom: 30px;
    }
    .pxl-item--title {
        font-size: 23px;
        margin-bottom: 22px;
    }
    .pxl-item--desc {
        max-width: 280px;
        @media #{$max-md} {
            max-width: 100%;
        }
    }
}
