// Sidebar
//--------------------------------------------------
@media #{$min-xl} {
    .pxl-sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 40px;
    }
    .admin-bar .pxl-sidebar-sticky {
        top: 72px;
    }
}

.widget .widget-title,
.pxl-widget-title {
    font-size: 23px;
    color: #ffffff;
    font-weight: 500;
    font-family: "GTWalsheimPro";
    border-radius: 8px 8px 0 0;
    background-color: $secondary_color;
    padding: 20px 0px 20px 35px;
    margin-bottom: 0;
}
.comments-title,
.comment-reply-title {
    margin-bottom: 24px;
    font-size: 30px;
}

.pxl-sidebar-area {
    .widget {
        @include border-radius(8px);
        border: 1px solid #d3d5d6;
        + .widget {
            margin-top: 25px;
        }
        &.widget_search {
            @include border-radius(0);
            border: none;
            border-bottom: 1px solid #121c27;
        }
    }
}

.widget_search {
    --x: 51px;
    .searchform-wrap {
        display: flex;
        align-items: center;
    }
    .search-submit {
        height: var(--x);
        background-color: transparent;
        color: #0a1119;
        padding: 0;
        &:hover {
            background-color: transparent;
            color: #0a1119;
        }
    }
    .search-field {
        height: var(--x);
        background-color: transparent;
        @include border-radius(0);
        font-size: 15px;
        color: #0a1119;
        font-weight: 400;
        font-family: "Public Sans";
        padding: 0;
        border: none;
    }
}

.widget_product_categories,
.widget_categories,
.widget_nav_menu,
.widget_pages,
.widget_archive,
.widget_meta,
.widget_recent_entries {
    ul {
        list-style: none;
        margin-bottom: 0;
        padding: 0;
        li {
            a {
                font-size: 16px;
                font-weight: 400;
                color: #111111;
                font-family: "GTWalsheimPro";
                padding: 17px 35px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                z-index: 1;
                background-color: transparent;
                @include transition(all 300ms linear 0ms);
                @media #{$max-lg} {
                    font-style: 15px;
                    padding-left: 18px;
                    padding-right: 50px;
                }
            }
            .pxl-count {
                line-height: 1;
                font-size: 16px;
                font-weight: 500;
                color: $primary_color;
                font-family: "GTWalsheimPro";
            }
            &.current-menu-item > a,
            &.current-cat > a,
            &.current-cat-parent > a,
            > a:hover {
                background-color: #ecf2fe;
            }
            .sub-menu,
            .children {
                margin-top: 12px;
            }
            &:last-child {
                a {
                    @include border-radius(0 0 8px 8px);
                }
            }
        }
        > li + li {
            border-top: 1px solid #d3d5d6;
        }
    }
}

.widget_tag_cloud {
    .tagcloud {
        padding: 35px;
    }
    a {
        font-size: 15px !important;
        line-height: 2;
        color: #4b535d;
        font-weight: 400;
        font-family: "Public Sans";
        @include transition(all 300ms linear 0ms);
        padding-right: 15px;
        margin-right: 8px;
        position: relative;
        text-decoration: none;
        &:before {
            position: absolute;
            content: "/";
            top: 0;
            right: 0;
            line-height: 1;
            font-size: 15px !important;
            color: #4b535d;
        }
        &:last-child {
            margin-right: 0;
            &:before {
                display: none;
            }
        }
        &:hover {
            color: #0a1119;
            text-decoration: underline;
        }
    }
}

.widget_pxl_recent_posts {
    .pxl-item--img {
        overflow: hidden;
        width: 76px;
        min-width: 76px;
        border-radius: 5px;
        a {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            overflow: hidden;
            img {
                @include border-radius(5px);
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include transition(all 300ms linear 0ms);
            }
        }
    }
    .pxl-item--title {
        margin-top: 2px;
        margin-bottom: 5px;
        font-size: 17px;
        font-weight: 500;
        color: #1a191d;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        @include transition(all 300ms linear 0ms);
        @media #{$max-lg} {
            font-size: 15px;
        }
        a {
            color: inherit;
            @include transition(all 300ms linear 0ms);
            &:hover {
                color: $primary_color;
            }
        }
    }
    .pxl-item--meta {
        font-size: 13px;
        line-height: 26px;
        color: $primary_color;
        font-weight: 400;
        font-family: "Public Sans";
    }
    .pxl--items {
        padding: 35px;
    }
    .pxl--item {
        display: flex;
        flex-wrap: nowrap;
        &:hover {
            img {
                @include transform(scale(1.05));
            }
        }
        + .pxl--item {
            margin-top: 25px;
            padding-top: 25px;
            border-top: 1px solid #d3d5d6;
        }
    }
}

.widget_mc4wp_form_widget {
    .mc4wp-form-fields {
        padding: 20px 35px 35px 35px;
        p {
            font-size: 15px;
            line-height: 1.6667;
            color: #4b535d;
            font-weight: 400;
            font-family: "Public Sans";
            margin-bottom: 22px;
        }
        input {
            height: 55px;
            border-radius: 8px;
            background-color: #ffffff;
            border: 1px solid rgba($color: #121c27, $alpha: 0.149);
            padding: 20px;
            font-size: 15px;
            color: #0a1119;
            font-weight: 400;
            font-family: "Public Sans";
        }
        input[type="submit"] {
            width: 100%;
            height: 55px;
            margin-top: 12px;
            border-radius: 8px;
            background-color: $primary_color;
            font-size: 15px;
            color: #ffffff;
            font-family: "GTWalsheimPro";
        }
    }
}

.pxl-about-author--widget {
    text-align: center;
    padding: 35px;
    img {
        --x: 207px;
        width: var(--x);
        height: var(--x);
        @include border-radius(var(--x));
        object-fit: cover;
    }
    .pxl-about-author--info {
        margin: 30px 0 10px;
        border-bottom: 1px solid #d3d5d6;
        .pxl-about-author--name {
            font-size: 18px;
            color: #111111;
            font-weight: 500;
            font-family: "GTWalsheimPro";
            text-align: center;
            margin-bottom: 14px;
        }
        .pxl-about-author--position {
            color: #848b94;
            font-family: "Public Sans";
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    .pxl-about-author--desc {
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.625;
        color: #666666;
        font-weight: 400;
        font-family: "Public Sans";
        margin-bottom: 40px;
    }
    .pxl-about-author-social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 70px;
            height: 20px;

            span,
            i {
                font-size: 15px;
                color: #111111;
                transition: all 300ms ease-in-out;
                position: absolute;
            }
			
            span {
				font-family: "GTWalsheimPro";
                font-weight: 500;
                opacity: 1;
                transform: translateY(0);
            }

            i {
                opacity: 0;
                transform: translateY(5px);
            }

            &:hover {
                span {
                    opacity: 0;
                    transform: translateY(-5px);
                }
                i {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}

.gallery {
    margin: -10px -5px 0 -5px !important;
    display: flex;
    flex-wrap: wrap;
    .gallery-item {
        padding: 0 5px !important;
        margin: 24px 0 0 !important;
        img {
            border: none !important;
        }
    }
    &.gallery-columns-2 .gallery-item {
        width: 50% !important;
    }
    &.gallery-columns-3 .gallery-item {
        width: 33.33% !important;
    }
    &.gallery-columns-4 .gallery-item {
        width: 25% !important;
    }
    &.gallery-columns-5 .gallery-item {
        width: 20% !important;
    }
}
#pxl-content-main {
    .gallery {
        margin: -5px -12px 38px -12px !important;
        .gallery-item {
            padding: 0 12px !important;
            margin: 24px 0 0 !important;
        }
    }
}

.widget_media_gallery,
.elementor-widget-wp-widget-media_gallery,
.elementor-widget-image-gallery {
    .gallery {
        margin: -10px -5px 0 -5px;
        .gallery-item {
            padding: 0 5px;
            margin-top: 10px !important;
            margin-bottom: 0;
            img {
                @include border-radius(0px);
                width: 100%;
                border: none !important;
            }
            a {
                display: block;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(#000, 0.67);
                    @include transition(all 250ms linear 0ms);
                    opacity: 0;
                    z-index: 1;
                }
                &:after {
                    content: "\f12c";
                    font-size: 15px;
                    font-family: "Caseicon";
                    color: rgba(#fff, 1);
                    z-index: 2;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    @include transform(translate(-50%, -50%));
                    @include transition(all 250ms linear 0ms);
                    opacity: 0;
                    font-weight: 400;
                }
                &:hover {
                    &:before,
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.elementor-lightbox {
    .swiper-container {
        .elementor-lightbox-image {
            width: auto;
            height: auto;
        }
        .swiper-slide {
            background-color: transparent;
        }
    }
}

.pxl-gallery {
    margin: -8px -15px 26px -15px;
    display: flex;
    flex-wrap: wrap;
    img {
        width: 100%;
    }
    .pxl--item {
        padding: 26px 15px 0 15px;
    }
    .pxl--item-inner {
        @include border-radius(10px);
        overflow: hidden;
        position: relative;
        &.video-active:before {
            @extend .pxl-spill;
            background-color: rgba(#1b1b1b, 0.5);
        }
        .pxl-btn-video {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            z-index: 99;
        }
    }
    &.gallery-2-columns .pxl--item {
        width: 50%;
        @media #{$max-xs} {
            width: 100%;
        }
    }
    &.gallery-3-columns .pxl--item {
        width: 33.33%;
        @media #{$max-xs} {
            width: 100%;
        }
    }
    &.gallery-4-columns .pxl--item {
        width: 25%;
        @media #{$max-sm} {
            width: 50%;
        }
        @media #{$max-xs} {
            width: 100%;
        }
    }
    &.gallery-5-columns .pxl--item {
        width: 20%;
        @media #{$max-sm} {
            width: 50%;
        }
        @media #{$max-xs} {
            width: 100%;
        }
    }
    &.masonry-style1 {
        .pxl--item-inner {
            @include border-radius(0px);
        }
    }
}

.calendar_wrap {
    caption {
        margin-bottom: 10px;
    }
}

.widget_recent_comments {
    ul,
    ol {
        list-style: none;
        font-size: 16px;
        line-height: 24px;
        color: #080808;
        font-weight: 700;
        @extend .ft-secondary;
        a {
            color: inherit;
            &:hover {
                color: $primary_color;
            }
        }
        li + li {
            margin-top: 18px;
        }
    }
}

.widget_rss {
    .rss-widget-title {
        color: inherit;
    }
    ul,
    ol {
        margin: 0;
        list-style: none;
    }
    .rsswidget {
        display: block;
        font-size: 16px;
        line-height: 24px;
        color: #080808;
        font-weight: 700;
        @extend .ft-secondary;
    }
    .rss-date {
        font-size: 14px;
        display: block;
        margin-top: 4px;
        margin-bottom: 10px;
    }
    li + li {
        margin-top: 34px;
    }
    cite {
        display: block;
        margin-top: 4px;
        color: $primary_color;
    }
}

.widget_block {
    ul,
    ol {
        margin-bottom: 0;
        padding: 0;
        list-style: none;
    }
    .wp-block-search__label,
    .wp-block-group__inner-container > h2 {
        font-size: 22px;
        margin-bottom: 27px;
        position: relative;
        color: #080808;
        font-weight: 700;
        @extend .ft-secondary;
        display: block;
    }
    .wp-block-latest-posts__list,
    .wp-block-latest-comments {
        font-size: 16px;
        line-height: 24px;
        color: #080808;
        font-weight: 600;
        @extend .ft-secondary;
        a {
            color: inherit;
            &:hover {
                color: $primary_color;
            }
        }
        li + li {
            margin-top: 18px;
        }
    }
    .wp-block-latest-comments {
        color: #666;
        a {
            color: #080808;
            &:hover {
                color: $primary_color;
            }
        }
    }
    &.widget_search {
        .wp-block-search__inside-wrapper {
            position: relative;
            .wp-block-search__button {
                height: 60px;
                width: 60px;
                background: transparent;
                top: 0;
                right: 0;
                @include border-radius(0px);
                padding: 0;
                position: absolute;
                color: #222222;
                line-height: 60px;
                z-index: 1;
                font-size: 0px;
                @include box-shadow(none);
                border-color: #ececf0;
                &:before {
                    content: "\f12c";
                    font-family: "Caseicon";
                    font-size: 14px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include transform(translate(-50%, -50%));
                }
                &:hover {
                    border-color: $primary_color;
                    background-color: $primary_color;
                    color: #fff;
                }
            }
            .wp-block-search__input {
                border-color: #ececf0;
                color: #222222;
                padding-left: 24px;
            }
        }
    }
}

.widget_archive .nice-select ul.list {
    max-width: 320px;
}

.wp-calendar-table {
    background-color: #fff;
}

.pxl-wg-categories {
    margin: -20px -10px 0 -10px;
    display: flex;
    flex-wrap: wrap;
    .pxl-category {
        padding: 0 10px;
        margin-top: 20px;
    }
    .pxl-category--inner {
        min-height: 90px;
        position: relative;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        @media #{$max-xs} {
            min-height: 120px;
        }
        &:before {
            content: "";
            @extend .pxl-spill;
            background-color: rgba(#000, 0.36);
            z-index: 12;
        }
        a {
            @extend .pxl-spill;
            z-index: 99;
        }
        span {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            @extend .ft-secondary;
            position: relative;
            z-index: 88;
        }
        .pxl-category--img {
            z-index: 11;
            @extend .pxl-spill;
            @include transition(all 0.5s ease);
            transform: scale(1.01, 1.01);
        }
        &:hover .pxl-category--img {
            -webkit-transform: scale(1.07, 1.07);
            transform: scale(1.07, 1.07);
        }
    }
    &.columns-2 .pxl-category {
        width: 50%;
        @media #{$max-xs} {
            width: 100%;
        }
    }
}

.pxl-contact-info-widget {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 62px 30px;
    font-weight: 500;
    color: rgba(#fff, 0.8);
    .pxl-phone--number {
        margin-bottom: 16px;
        color: #fff;
        font-size: 34px;
        font-weight: 800;
        @extend .ft-secondary;
        @media #{$max-lg} {
            font-size: 28px;
        }
    }
    .pxl-item--icon {
        height: 62px;
        width: 62px;
        background-color: red;
        border-radius: 62px;
        font-size: 34px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        margin-bottom: 23px;
        &:before {
            content: "";
            background-color: #020626;
            position: absolute;
            top: 3px;
            right: 3px;
            bottom: 3px;
            left: 3px;
            border-radius: 100%;
            z-index: -1;
        }
        @extend .bg-gradient;
        i {
            @extend .text-gradient;
            &.active {
                animation: pxl_zigzag 0.8s ease-out infinite;
                -webkit-animation: pxl_zigzag 0.8s ease-out infinite;
            }
        }
    }
    .pxl-phone--link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
    }
    &:before {
        z-index: -1;
        @extend .pxl-spill;
        background-color: rgba(#020626, 0.85);
    }
}

body.rtl {
    .widget {
        .widget-title {
            padding-left: 0;
            padding-right: 42px;
            &:before {
                left: auto;
                right: 0;
            }
        }
    }
}
